<!DOCTYPE html>
<html>
<head>
  <title>Rentroll</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">RentRoll</a>
    <ul class="nav">
      <li><%=link_to "Home", root_url%></li>
      <li><%=link_to "Assumptions", assumptions_url%></li>
    </ul>
    <%=form_tag root_url, :class=>"navbar-search pull-left" do %>
      <%=text_field_tag :query, nil, :class=>"search-query", :placeholder=>"Search"%>
    <%end%>
  </div>
</div>
<%= yield %>
</div>
</body>
</html>
